import(drc, tidyverse)
export(bmd, bmdBoot, bmdIso, bmdIsoBoot, PAV, bmdMA, bootDataGen, bmdMACurve, BCa, invBmd, expandBinomial, 
       getStackingWeights, drmOrdinal, bmdOrdinal, bmdOrdinalMA, expandOrdinal, bootDataGenOrdinal,
       qplotDrc, qplotBmd)

## S3 methods
S3method(logLik, drcOrdinal)
S3method(AIC, drcOrdinal)
S3method(plot, drcOrdinal)
S3method(print, drcOrdinal)
S3method(print, bmdOrdinal)
S3method(plot, bmd)