import(drc, ggplot2, dplyr)
export(bmd, bmdBoot, bmdIso, bmdIsoBoot, PAV, bmdMA, bootDataGen, bmdMACurve, BCa, invBmd, expandBinomial, 
       getStackingWeights, drmOrdinal, bmdOrdinal, bmdOrdinalMA, expandOrdinal, bootDataGenOrdinal,
       qplotDrc, qplotBmd, MACurve, monotonicityTest, trendTest, bmdHetVar, drmHetVar, drmMMRE)

## S3 methods
S3method(logLik, drcOrdinal)
S3method(logLik, drcHetVar)
S3method(AIC, drcOrdinal)
S3method(AIC, drcHetVar)
S3method(BIC, drcOrdinal)
S3method(plot, drcOrdinal)
S3method(print, drcOrdinal)
S3method(print, bmdOrdinal)
S3method(print, drcHetVar)
S3method(plot, bmd)
S3method(plot, drcHetVar)
S3method(vcov, drcMMRE)
S3method(print, drcMMRE)